extends layout.pug

block content
    doctype html
    html(lang="en")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Add User
            link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
            link(rel="stylesheet", href="../style/style.css")
        
        .form-container
            h2.text-center Add User
            form(action="/addUser", method="POST")
                .form-row
                    .form-group.col-md-6
                        label(for="firstName") First Name:
                        input.form-control(type="text", id="firstName", name="firstName", required)

                    .form-group.col-md-6
                        label(for="lastName") Last Name:
                        input.form-control(type="text", id="lastName", name="lastName", required)

                .form-row
                    .form-group.col-md-6
                        label(for="dateOfBirth") Date of Birth:
                        input.form-control(type="date", id="dateOfBirth", name="dateOfBirth", required)

                    .form-group.col-md-6
                        label(for="phoneNumber") Phone Number:
                        input.form-control(type="text", id="phoneNumber", name="phoneNumber", required)

                .form-row
                    .form-group.col-md-6
                        label(for="address1") Address 1:
                        input.form-control(type="text", id="address1", name="address1", required)

                    .form-group.col-md-6
                        label(for="address2") Address 2:
                        input.form-control(type="text", id="address2", name="address2")

                .form-row
                    .form-group.col-md-6
                        label(for="city") City:
                        input.form-control(type="text", id="city", name="city", required)

                    .form-group.col-md-6
                        label(for="postalCode") Postal Code:
                        input.form-control(type="text", id="postalCode", name="postalCode", required)

                .form-row
                    .form-group.col-md-6
                        label(for="country") Country:
                        input.form-control(type="text", id="country", name="country", required)

                    .form-group.col-md-6
                        label(for="email") Email:
                        input.form-control(type="email", id="email", name="email", required)

                .form-group
                    label(for="userNotes") User Notes:
                    textarea.form-control(id="userNotes", name="userNotes", rows="4")

                // Button group for "Add User" and "View Users"
                .button-group.text-center.mt-4
                    button.btn.btn-success(type="submit") Add User
                    a.btn.btn-primary(href="/viewUser") View Users
