doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        title My Application
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href="/") My Application
            button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarNav
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="/addUser") Add User
                    li.nav-item
                        a.nav-link(href="/viewUser") View Users
                    li.nav-item
                        a.nav-link(href="/updateUser") Update User
        block content
