doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title User Management System
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="../style/style.css")

  body
    header
      .d-flex.justify-content-between.align-items-center.w-100
        button.view-users-btn.btn.btn-link(onclick="window.location.href='/viewUser';") View Users

        h1.mx-auto User Management System

    main
      block content // Placeholder for page-specific content

    footer
      p &copy; 2024 Kisan Rai, Student Number C0910925. All rights reserved.
